<h1>Reset Password</h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<p>Please enter your email address below and then click "Reset Password".</p>

<%= form_tag password_resets_path do %>
  <%= text_field_tag :mail %>
  <%= submit_tag "Reset Password" %>
<% end %>