<h1>Witaj w teście kandydata na specjalistę IT</h1>

<%= link_to "Jestem kandydatem", log_in_path, class: "btn btn-success" %> <br>
<%= link_to "Jestem pracodawcą", log_employer_path, class: "btn btn-success" %>
