<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>
	<h1>Witaj w teście kandydata na specjalistę IT</h1>

	<%= link_to "Rozpocznij test", log_in_path %> <br>
	<%= link_to "Panel administracyjny", '#' %>

</body>
</html>